<div class="col border-left border-right">
  <br />
  <div class="row">
    <div class="col-12">
      <h5>使用者清單</h5>
      <hr>
    </div>
    {{#each users}}
      <div class="col-md-3">
        <div class="card mb-2 mr-1 admin-users-card">
          <img class="card-img-top rounded-top admin-users-cover" src="{{this.cover}}"
            alt="Card image cap">
          <img src="{{this.avatar}}" class="border-avatar" alt="user avatar">
          <div class="card-body text-center">
            <h5 class="card-title mt-2">{{this.name}}</h5>
            <p class="card-text user-font">
              @{{this.account}}
            </p>
            <i class="far fa-comment mr-3 user-font"> {{this.Tweets.length}}</i>
            <i class="far fa-heart user-font"> {{this.Likes.length}}</i>
            <br />
            <br />
            {{this.following.length}}個<span class="follow-font">跟隨中</span> {{this.follower.length}}位<span class="follow-font"
              >跟隨者</span>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>