<!-- pop up reply tweet message -->
<div class="modal fade" id="s{{tweet.id}}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="flex-container mb-2">
          <div>
            <a href="/users/{{tweet.User.id}}/tweets">
              <img class="mr-3 user-avatar" src="{{tweet.User.avatar}}" alt="user avatar">
            </a>
          </div>
          <div>
            <a class="a-black" href="/users/{{tweet.User.id}}/tweets"><strong>{{tweet.User.name}}</strong></a>
            <font class="reply-font">@{{tweet.User.account}} • {{moment tweet.updatedAt}}</font>
            <p>
              {{tweet.description}}
            </p>
          </div>
        </div>
        <div id="tweet-replies">
        {{#each tweetReplies}}
          <div class="flex-container mb-2">
            <div>
              <a href="/users/{{this.User.id}}/tweets">
                <img class="mr-3 user-avatar" src="{{this.User.avatar}}" alt="user avatar">
              </a>
            </div>
            <div>
              <a class="a-black" href="/users/{{this.User.id}}/tweets"><strong>{{this.User.name}}</strong></a>
              <font class="reply-font">@{{this.User.account}} • {{moment this.updatedAt}}</font>
              <p>
                {{this.comment}}
              </p>
              <font class="reply-to-font">回覆給</font>
              <font class="reply-to-account">@{{../tweet.User.name}}</font>
            </div>
          </div>
        {{/each}}
        </div>
        <div class="flex-container">
          <div>
            <img src="{{user.avatar}}" alt="user avatar" class="user-avatar">
          </div>
          <div class="post-tweet">
            <div id="reply-form">
              <textarea placeholder="推你的回覆" class="form-control comment" rows="3"
                ></textarea>
              <input type="hidden" class="tweetId" value="{{tweet.id}}">
              <input type="hidden" class="tweetUserId" value="{{tweet.User.id}}">
              <input type="hidden" class="avatar" value="{{user.avatar}}">
              <input type="hidden" class="name" value="{{user.name}}">
              <input type="hidden" class="account" value="{{user.account}}">
              <input type="hidden" class="tweetUserName" value="{{tweet.User.name}}">
              <input type="hidden" class="time" value="{{moment now}}">
              <button onclick="reply(this)" class="btn btn-reply" type="button">留言</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- pop up reply comment message -->
{{#each tweetReplies}}
  <div class="modal fade" aria-hidden="true" id="r{{this.id}}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="flex-container mb-2">
            <div>
              <a href="/users/{{this.User.id}}/tweets">
                <img class="mr-3 user-avatar" src="{{this.User.avatar}}" alt="user avatar">
              </a>
            </div>
            <div>
              <a class="a-black" href="/users/{{this.User.id}}/tweets"><strong>{{this.User.name}}</strong></a>
              <font class="reply-font">@{{this.User.account}} • {{moment this.updatedAt}}</font>
              <p>
                {{this.comment}}
              </p>
            </div>
          </div>
          <div id="reply-comments">
          {{#each this.ReplyComments}}
          <div>
            <div class="flex-container mb-2" id="replyComment-{{this.id}}">
              <div>
                <a href="/users/{{this.User.id}}/tweets">
                  <img class="mr-3 user-avatar" src="{{this.User.avatar}}" alt="user avatar">
                </a>
              </div>
              <div>
                {{#ifCond ../../user.id this.User.id}}
                  <div class="dropdown more">
                    <a class="a-black" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      •••
                    </a>
                    <div class="dropdown-menu" aria-labelledby="more">
                      <button data-toggle="modal" data-target="#er{{this.id}}" class="dropdown-item">修改此留言</button>
                      <button data-toggle="modal" data-target="#cr{{this.id}}" class="dropdown-item">刪除此留言</button>
                    </div>
                  </div>
                {{/ifCond}}
                <a class="a-black" href="/users/{{this.User.id}}/tweets"><strong>{{this.User.name}}</strong></a>
                <font class="reply-font">@{{this.User.account}} • {{moment this.updatedAt}}</font>
                <p>
                  {{this.comment}}
                </p>
                <font lass="reply-to">回覆給</font>
                <font class="reply-to-account">@{{../this.User.name}}</font>
              </div>
            </div>
            <!-- pop up delete reply comment message -->
            {{> delete}}
            <!-- pop up edit reply comment message -->
            {{> edit}}
          </div>
          {{/each}}
          </div>
          <div class="flex-container">
            <div>
              <img src="{{../loginUser.avatar}}" alt="user avatar" class="user-avatar">
            </div>
            <div class="post-tweet">
              {{!-- <form action="/replies/{{this.id}}" method="POST"> --}}
              <div id="reply-comment-form">
                <textarea placeholder="推你的回覆" class="form-control comment" id="reply-comment" rows="3"
                  ></textarea>
                <input type="hidden" class="tweetId" value="{{../tweet.id}}">
                <input type="hidden" class="replyId" value="{{this.id}}">
                <input type="hidden" class="replyUserId" value="{{this.User.id}}">
                <input type="hidden" class="avatar" value="{{../user.avatar}}">
                <input type="hidden" class="name" value="{{../user.name}}">
                <input type="hidden" class="account" value="{{../user.account}}">
                <input type="hidden" class="replyUserName" value="{{this.User.name}}">
                <input type="hidden" class="time" value="{{moment now}}">
                <button  onclick="replyComment(this)" class="btn btn-reply" type="button">留言</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{{/each}}
<!-- pop up create tweet message -->
<div class="modal fade" id="createTweet" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form onSubmit="tweet(this)">
          <div class="flex-container">
            <div>
              <img src="{{user.avatar}}" alt="user avatar" class="user-avatar">
            </div>
            <div class="post-tweet">
              <input type="hidden" class="username" value="{{user.name}}">
              <textarea placeholder="有什麼新鮮事?" class="form-control description" rows="3"
                ></textarea>
            </div>
          </div>
          <button class="btn btn-reply" type="submit">推文</button>
        </form>
      </div>
    </div>
  </div>
</div>