{{!-- Center --}}
<div class="col online-user">
  {{#if public}}
  <div class="title">
    <p>上線使用者</p>
  </div>
  <div id="user-list">
   
  </div>
  {{else}}
  <div class="title">
    <p>歷史訊息</p>
  </div>
  {{#each users}}
  <div class="user-list">
    <a href="/message/{{this.id}}">
    <div class="flex-container">
      <img src="{{this.avatar}}" alt="user avatar" class="user-avatar">
      <div class="flex-container">
        <p>{{this.name}}</p>
        <font class="text-muted"> @{{this.account}}</font>
      </div>
    </div>
    </a>
  </div>
  {{/each}}
  <div>
  </div>
  {{/if}}
</div>

{{!-- Right side --}}
<div class="col-6 chat-room">
  <div class="title">
    {{#if public}}
    <p>公開聊天室</p>      
    <input type="hidden" class="selector" value="public">
    {{else}}
    <p>私人訊息</9>
    <input type="hidden" class="selector" value="private">
    {{/if}}
  </div>
  <div class="flex-container chat-messages" id="chat-messages">
    {{#each messages}}
    {{#ifCond ../user.id this.UserId}}
    <div class="send-messages">
      <div>
        <div class="send-message">
          {{this.message}}
        </div>
        <div class="time text-muted">{{time this.createdAt}}</div> 
      </div> 
    </div>        
    {{else}}
    <div class="receive-messages">
      <div>
        {{#if ../public}}
        <img src="{{this.User.avatar}}" class="user-avatar">
        {{else}}
        <img src="{{this.Sender.avatar}}" class="user-avatar">
        {{/if}}
      </div>
      <div>
        <div class="receive-message">
          {{this.message}}
        </div>
        <div class="time text-muted">{{time this.createdAt}}</div>
      </div>
    </div>
    {{/ifCond}}
    {{/each}}
  </div>  
  <form id="chat-form">
    <div class="messageArea">
      <textarea type="text" placeholder="輸入訊息..." class="form-control" id="{{user.id}}" name="message" rows="1"></textarea>
      <button type="submit" class="btn">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </form> 
</div>

