{{!-- Center --}}
<div class="col online-user">
  <div class="title">
    <p>上線使用者</p>
  </div>
    <input type="hidden" id="loginUserId" value="{{loginUser.id}}">
    <div id="user-list">

    </div>
  
</div>

{{!-- Right side --}}
<div class="col" style="height: 85vh">
  <div class="title">
    {{#if public}}
    <p>公開聊天室</p>      
    <input type="hidden" class="selector" value="public">
    {{else}}
    <p>私人訊息</9>
    <input type="hidden" class="selector" value="private">
    {{/if}}
  </div>
  <div class="flex-container chat-messages" id="chat-messages">
    {{#each messages}}
    {{#ifCond ../loginUser.id this.messageFromId}}
    <div class="send-messages">
      <div>
        <div class="send-message">
          {{this.message}}
        </div>
        <div class="time text-muted">{{time this.createdAt}}</div> 
      </div> 
    </div>        
    {{else}}
    <div class="receive-messages">
      <div>
        <img src="{{../loginUser.avatar}}" class="user-avatar">
      </div>
      <div>
        <div class="receive-message">
          {{this.message}}
        </div>
        <div class="time text-muted">{{time this.createdAt}}</div>
      </div>
    </div>
    {{/ifCond}}
    {{/each}}
  </div>  
  <form action="" id="chat-form">
    <div class="messageArea">
      <textarea type="text" placeholder="輸入訊息..." class="form-control" id="message" name="message" rows="1"></textarea>
      <button class="btn">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </form> 
</div>
