{{!-- Center --}}
<div class="col">
  <ul class="list-group">
    <li class="list-group-item">
      <strong>首頁</strong>
    </li>
    <li class="list-group-item home">
      <form onSubmit="tweet(this);" >
        <div class="flex-container">
          <div>
            <img src="{{user.avatar}}" alt="user avatar" class="user-avatar">
          </div>
          <div class="post-tweet">
            <input type="hidden" class="username" value="{{user.name}}">
            <textarea placeholder="有什麼新鮮事?" class="form-control description" rows="3"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-create">推文</button>
      </form>
    </li>
    
    {{#each tweetFollowings}}
    <div>
      <li class="list-group-item" id="tweet-{{this.id}}">
        <div class="flex-container">
          <div>
            <a href="/users/{{this.user.id}}/tweets">
              <img src="{{this.user.avatar}}" alt="user avatar" class="user-avatar">
            </a>
          </div>
          <div>
            {{#ifCond ../user.id this.user.id}}
              <div class="dropdown more">
                <a role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" class="a-black">
                  •••
                </a>
                <div class="dropdown-menu" aria-labelledby="more">
                  <button data-toggle="modal" data-target="#et{{this.id}}" class="dropdown-item">修改此貼文</button>
                  <button data-toggle="modal" data-target="#t{{this.id}}" class="dropdown-item">刪除此貼文</button>
                </div>
              </div>
            {{/ifCond}}
            <a href="/users/{{this.user.id}}/tweets" class="a-black"><strong>{{this.user.name}}</strong></a>
            <font class="text-muted">@{{this.user.account}} {{moment this.createdAt}}</font>
            <p id="tweet-description-{{this.id}}">{{this.description}}</p>
            <div>
              <a href="/tweets/{{this.id}}/replies" class="tweet-icon"><i class="far fa-comment"></i></a>
              <div class="comment-count"> {{this.repliesCount}}</div>
            </div>
            
            {{#if this.isLiked}}
              <div class="flex-container">
                <input type="hidden" class="tweetId" value="{{this.id}}">
                <input type="hidden" class="tweetUserId" value="{{this.user.id}}">
                <input type="hidden" class="likesCount" value="{{this.likesCount}}">
                <input type="hidden" class="type" value="tweet">
                <button onclick="dislike(this)" class="tweet-icon"><i class="fas fa-heart like-icon"></i></button>
                <div class="count"> {{this.likesCount}}</div>
              </div>
            {{else}}
              <div class="flex-container">
                <input type="hidden" class="tweetId" value="{{this.id}}">
                <input type="hidden" class="tweetUserId" value="{{this.user.id}}">
                <input type="hidden" class="likesCount" value="{{this.likesCount}}">
                <input type="hidden" class="type" value="tweet">
                <button onclick="like(this)" class="tweet-icon" name="icon"><i class="far fa-heart"></i></button>
                <div class="count">{{this.likesCount}}</div>
              </div>
            {{/if}}
            
          </div>
        </div>
      </li>
      <!-- pop up edit tweet message -->
      {{> edit}}
      <!-- pop up delete tweet message -->
      {{> delete}}
    </div>
    {{/each}}
    
  </ul>
</div>
{{!-- Right side --}}
{{> right}}