{{!-- Center --}}
<div class="col border-left border-right">
  <div class="row mt-3 pl-3 border-bottom align-items-center">
    <a class="a-black" href="javascript:history.back()"><i class="fas fa-arrow-left fa-lg"></i></a>
    <div class="ml-5">
      <h5>{{ name }}</h5>
      <span class="text-muted">{{tweetsCount}} 推文</span>
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link unselected_nav" href="/users/{{user.id}}/followers">跟隨者</a>
        </li>
        <li class="nav-item">
          <a class="nav-link selected_nav" href="/users/{{user.id}}/followings">正在跟隨</a>
        </li>
      </ul>
    </div>
  </div>
  
  {{#each data}}
  <div class="follow-list">
    <div class="d-flex p-2 row border-bottom">
      <a href="/users/{{this.id}}/tweets">
        <img class="mr-3 user_avatar_s" src="{{ this.avatar }}" alt="Avatar">
      </a>
      <div class="col">
        <a class="a-black" href="/users/{{this.id}}/tweets">
          <span class="bold">{{this.name}}</span><br>
        </a>
        <a href="/users/{{this.id}}/tweets">
          <span class="follow-font">@{{this.account}}</span><br>
        </a>
        <span><small>{{this.introduction}}<br></small></span>
      </div>
      <div>
        {{#if this.isFollowed}}
          <input type="hidden" class="followingId" value="{{this.id}}">
          <input type="hidden" class="type" value="userFollowings">
          <button onclick="unfollow(this)" type="submit" class="btn btn-outline-twitter-active rounded-pill">正在跟隨</button>
        {{else}}
          <input type="hidden" class="followingId" value="{{this.id}}">
          <input type="hidden" class="type" value="userFollowings">
          <button onclick="follow(this)" type="button" class="btn btn-outline-twitter rounded-pill">跟隨</button>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
  
</div>
{{!-- Right side --}}
{{> right}}
<!-- pop up reply comment message -->
{{> message}}