{{!-- Center --}}
<div class="col border-left border-right">
  <div class="row mt-3 pl-3 border-bottom align-items-center">
    <a class="a-black" href="javascript:history.back()"><i class="fas fa-arrow-left fa-lg"></i></a>
    <div class="ml-5">
      <h5>{{ name }}</h5>
      <span class="text-muted">{{tweetsCount}} 推文</span>
    </div>
  </div>
  <div class="row">
    <img src="{{cover}}" class="img-fluid user_cover" alt="Cover">
    <div class="col user-nav">
      <a href="/users/{{userId}}/tweets">
        <img src="{{avatar}}" class="user_avatar">
      </a>
    </div>
    <div class="col mt-3">
      <div class="user-icon">
      <a class="a-black" href="/message/{{userId}}">
          <i class="far fa-envelope fa-2x mt-1 mx-2 a-coral"></i>
        </a>
      </div>
      {{#ifCond userId user.id}}
      <div class="user-icon">
        <button class="btn rounded-pill float-right btn-outline-twitter" data-toggle="modal" data-target="#show-detail-modal" data-id="{{userId}}">編輯個人資料</button>
      </div>
      {{else}}
      <div class="user-icon">
        {{#if isSubscribed}}
        <button onclick="unsubscribe(this)" class="btn-push">
          <input type="hidden" id="subscribedId" value="{{userId}}">
          <i class="far fa-bell-slash fa-2x mt-1 mx-2 a-coral"></i>
        </button>
        {{else}}
        <button onclick="subscribe(this)" class="btn-push">
          <input type="hidden" id="subscribedId" value="{{userId}}">
          <i class="far fa-bell fa-2x mt-1 mx-2 a-coral"></i>
        </button>
        {{/if}}
      </div>
      <input type="hidden" class="followingId" value="{{userId}}">
      <div class="user-icon">
        {{#if isFollowed}}
          <button id="follow-{{userId}}" onclick="unfollow(this)" type="submit" class="btn btn-outline-twitter-active rounded-pill">正在跟隨</button>
        {{else}}
          <button id="follow-{{userId}}" onclick="follow(this)" type="button" class="btn btn-outline-twitter rounded-pill">跟隨</button>
        {{/if}}
      </div>
      {{/ifCond}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a class="a-black" href="/users/{{userId}}/tweets" style="text-decoration: none;">
        <span class="bold"><b>{{name}}</b></span><br>
      </a>
      <a class="a-black" href="/users/{{userId}}/tweets" style="text-decoration: none;">
        <span class="user-font">@{{account}}</span><br>
      </a>
      <span>{{introduction}}</span>
      <div>
        <a href="/users/{{userId}}/followings">
          <span class="user-font">{{followingsCount}}位 跟隨中</span>
        </a>
        <a href="/users/{{userId}}/followers">
          <span id="follower-count" class="user-font">{{followersCount}}</span><span class="user-font">位 跟隨者</span>
        </a>
      </div>
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link selected_nav" href="/users/{{userId}}/tweets">推文</a>
        </li>
        <li class="nav-item">
          <a class="nav-link unselected_nav" href="/users/{{userId}}/replies">推文與回覆</a>
        </li>
        <li class="nav-item">
          <a class="nav-link unselected_nav" href="/users/{{userId}}/likes">喜歡的內容</a>
        </li>
      </ul>
    </div>
  </div>
  {{#each tweets}}
    <div class="row border-bottom">
      <div class="d-flex p-2">
        <a href="/users/{{this.id}}/tweets">
          <img class="mr-3 user_avatar_s" src="{{this.avatar}}" alt="Avatar">
        </a>
        <div class="col">
          <a class="a-black" href="/users/{{this.id}}/tweets" style="text-decoration: none;">
            <span class="bold">{{this.name}}</span>
          </a>
          <a class="a-black" href="/users/{{this.id}}/tweets" style="text-decoration: none;">
            <span class="user-font">@{{this.account}}</span>
          </a>
          <span class="user-font">・{{moment this.updatedAt}}</span><br>
          <span>
            <small>
              {{this.description}}<br>
              <span class="d-flex flex-row ">
                <a href="/tweets/{{this.tweetId}}/replies">
                  <i class="far fa-comment mr-3 user-font"> {{this.replyCount}}</i>
                </a>
                <div class="flex-container">
                {{#if this.isLiked}}
                  <input type="hidden" class="tweetId" value="{{this.tweetId}}">
                  <input type="hidden" class="tweetUserId" value="{{this.id}}">
                  <input type="hidden" class="likesCount" value="{{this.likeCount}}">
                  <input type="hidden" class="type" value="tweet">
                  <button onclick="dislike(this)" class="tweet-icon"><i class="fas fa-heart like-icon"></i></button>
                  <div class="count"> {{this.likeCount}}</div>
                {{else}}
                  <input type="hidden" class="tweetId" value="{{this.tweetId}}">
                  <input type="hidden" class="tweetUserId" value="{{this.id}}">
                  <input type="hidden" class="likesCount" value="{{this.likeCount}}">
                  <input type="hidden" class="type" value="tweet">
                  <button onclick="like(this)" class="tweet-icon" name="icon"><i class="far fa-heart"></i></button>
                  <div class="count">{{this.likeCount}}</div>
                {{/if}}
                </div>
              </span>
            </small>
          </span>
        </div>
      </div>
    </div>
  {{/each}}
</div>
{{!-- Message --}}
{{> message}}
{{!-- Right side --}}
{{> right}}

<!-- edit user info modal -->
{{> user}}

