{{!-- Center --}}
<div class="col border-left border-right">
  <div class="row mt-3 pl-3 border-bottom align-items-center">
    <a class="a-black" href="javascript:history.back()"><i class="fas fa-arrow-left fa-lg"></i></a>
    <div class="ml-5">
      <h5>{{ name }}</h5>
      <span class="text-muted">{{tweetsCount}} 推文</span>
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link selected_nav" href="/users/{{userId}}/followers">跟隨者</a>
        </li>
        <li class="nav-item">
          <a class="nav-link unselected_nav" href="/users/{{userId}}/followings">正在跟隨</a>
        </li>
      </ul>
    </div>
  </div>
  <input type="hidden" class="type" value="userFollowers">
  <div class="user-sheet">
    {{#each data}} 
    <div class="row border-bottom follow-list">
      <div class="d-flex p-2" id="user-{{../user.id}}">
        <a href="/users/{{this.id}}/tweets">
          <img class="mr-3 user_avatar_s" src="{{this.avatar}}" alt="Avatar">
        </a>
        <div class="col"  >
          <a href="/users/{{this.id}}/tweets" class="a-black">
            <span class="bold">{{this.name}}</span><br>
          </a>
          <a href="/users/{{this.id}}/tweets">
            <span class="follow-font">@{{this.account}}</span><br>
          </a>
          <span><small>{{this.introduction}}<br></small></span>
        </div>
        <input type="hidden" class="followingId" value="{{this.id}}">
        <input type="hidden" class="userId" value="{{../user.id}}">
        {{#ifCond ../user.id this.id}}
        {{else}}
        <div>
          {{#if this.isFollowed}}
            <button id="follow-{{this.id}}" onclick="unfollow(this)" type="submit" class="btn btn-outline-twitter-active rounded-pill">正在跟隨</button>
          {{else}}
            <button id="follow-{{this.id}}" onclick="follow(this)" type="button" class="btn btn-outline-twitter rounded-pill">跟隨</button>
          {{/if}}
        </div>
        {{/ifCond}}
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{!-- Right side --}}
{{> right}}
<!-- pop up reply comment message -->
{{> message}}